<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> 
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  </head>
  <body>
      <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Express</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/new">Cadastro</a></li>
              <li><a href="/">Clientes</a></li>
              <li><a href="#">Sair</a></li>
            </ul>
          </div>
        </nav>
    <div class="container">
        <div class="row">
          <h3><%= title %></h3>
          <p><%= message %></p>
        </div>
        <div class="row">
          <table class="striped">
            <thead>
              <tr>
                <th width="50%">Nome</th>
                <th width="15%">Idade</th>
                <th width="15%">UF</th>
                <th width="15%">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% if(!docs || docs.length == 0){ %>
                <tr>
                  <td colspan="4">Nenhum cliente cadastrado</td>
                </tr>
              <% }else {
                docs.forEach(function(curtomers){
              %>
                <tr>
                    <td width="50%">
                        <%= curtomers.nome %>
                    </td>
                    <td width="15%">
                        <%= curtomers.idade %>
                    </td>
                    <td width="15%">
                        <%= curtomers.uf %>
                    </td>
                    <td width="15%">
                      <a href="/edit/<%= curtomers._id%>" class="link"><span class="badge blue">Editar</span></a>
                      <a href="/delete/<%= curtomers._id%>" onclick="return confirm('Tem Certeza?');" class="link"><span class="badge red">Excluir</span></a>
                    </td>
                  </tr>
              <% })
              } %>
            </tfoot>
          </table>
        </div>
        <div class="row">
            <a class="btn blue" href="/new">Cadastrar Novo</a>
        </div> 
      </div>
      <script>
        if(location.href.indexOf('delete=true') != -1){
          alert("Cliente excluido com sucesso!");
        }
        if(location.href.indexOf('edit=true') != -1){
          alert("Cliente editado com sucesso!");
        }
        if(location.href.indexOf('new=true') != -1){
          alert("Cliente cadastrado com sucesso!");
        }
      </script>
    </body>
</html>
