<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="node_modules/milligram/dist/milligram.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <table width="50%">
      <thead>
        <tr style="background:#ccc">
          <td width="50%">Nome</td>
          <td width="50%">Idade</td>
          <td width="50%">UF</td>
          <td width="50%">Ações</td>
        </tr>
      </thead>
      <tbody>
        <% if(!docs || docs.length == 0){ %>
          <tr>
            <td colspan="4">Nenhum cliente cadastrado</td>
          </tr>
        <% }else {
          docs.forEach(function(curtomers){
        %>
          <tr>
              <td colspan="4">
                  <%= curtomers.nome %>
              </td>
              <td colspan="4">
                  <%= curtomers.idade %>
              </td>
            </tr>
        <% })
        } %>
      </tfoot>
        </table>
        <a class="button" href="#">Default Button</a>

        
        <a href="/new">Cadastrar Novo</a>

</html>
