<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD Clientes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Express</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/new">Cadastro</a></li>
            <li><a href="/">Clientes</a></li>
            <li><a href="#">Sair</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h1><%=title %></h1>
            <p>Preencha os dados abaixo para salvar o cliente.</p>
            <form action="<%= action %>"method="POST" name="Form">
                <p>	
                    <label>Nome: <input type="text" name="nome" value="<%=doc.nome%>"/></label>
                </p>
                <p>	
                    <label>Idade: <input type="number" name="idade" value="<%=doc.idade%>"/></label>
                </p>
                <p>
                    <select name="uf">
                        <% const s ="selected"%>
                        <option <% if(doc.uf ==="RS"){ %> <%=s %> <% } %>>RS</option>
                        <option <% if(doc.uf ==="PB"){ %> <%=s %> <% } %>>PB</option>
                        <option <% if(doc.uf ==="SC"){ %> <%=s %> <% } %>>SC</option>
                        <option <% if(doc.uf ==="PR"){ %> <%=s %> <% } %>>PR</option>
                        <option <% if(doc.uf ==="CE"){ %> <%=s %> <% } %>>CE</option>
                        <option <% if(doc.uf ==="BH"){ %> <%=s %> <% } %>>BH</option>
                        <option <% if(doc.uf ==="BA"){ %> <%=s %> <% } %>>BA</option>
                        <option <% if(doc.uf ==="RN"){ %> <%=s %> <% } %>>RN</option>
                        <option <% if(doc.uf ==="SP"){ %> <%=s %> <% } %>>SP</option>
                    </select>
                    <label> UF:</label>
                </p>
                <span class="end">
                    <a href="/" class="btn red">Cancelar</a>   <input type="submit" onclick="validateForm()" value="Salvar" class="btn green"/>
                </span>    
            </form>
        </div>
    </div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var options = document.querySelectorAll('option');
            var instances = M.FormSelect.init(elems, options);
            var input = document.querySelectorAll('input');
        });   
        function validateForm()
    {
        var a=document.forms["Form"]["nome"].value;
        alert(a);
        if (a==="" || b==="" || c==="")
        {
            alert("Please Fill All Required Field");
            return false;
        }
    }
    </script>
       
</body>
</html>